@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(233, 47%, 7%);
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 7.5% 0 0 10%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 1rem;
    width: 79%;
    height: 28rem;
}

h1{
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    width: 38%;
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.diff{
    color: hsl(277, 64%, 61%);
}

.p-0{
    width: 40%;
    color: hsla(0, 0%, 100%, 0.75);
    position: absolute;
    left: 5rem;
    line-height: 1.5rem;
}

.sub-main1{
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    top: 7rem;
    left: -23.7rem;
    font-size: 1.4rem;
}

.sub-main1 .p2{
    position: absolute;
    left: 10rem;
}

.sub-main1 .p3{
    position: absolute;
    left: 19rem;
}

.sub-main2{
    color:hsla(0, 0%, 100%, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 9rem;
    left: -27.3rem;

}

.sub-main2 .p2{
    position: absolute;
    left: 10rem;
}

.sub-main2 .p3{
    position: absolute;
    left: 19rem;
}

.image{
    background: url(Images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.overlay{
    background: hsla(277, 78%, 48%, 0.585);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    height: 100%;
}
/* @media (min-width: 320px) and (max-width: 374px){
    #main{
        border-radius: 2vh;
        width: 90%;
        height: 130vh;
        margin: 10% 4% 0 5%;
    }

    h1{
        padding: 100% 0 6% 12%;
        font-size: 1.5rem;
        width: 88%;
        text-align: center;
    }

    .p-0{
        width: 100%;
        text-align: center;
        font-size: 0.89rem;
    }

    .sub-main1 p{
        margin: 20% 0 0 80%;
    }

    .sub-main1 .p2{
        margin: 20% 0 0 88%;
    }

    .sub-main2 .p1{
        position: relative;
        top: -20vh;
        left: 25vw;
    }

    .sub-main2 .p2{
        position: relative;
        top: -14vh;
        left: 28vw;
    }

    .sub-main2 .p3{
        position: relative;
        top: -8vh;
        left: 28vw;
    }

    .image{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        width: 100%;
        height: 30%;
    }

    .overlay{
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        border-bottom-right-radius: 0;
    }
}

@media (min-width: 375px) and (max-width: 424px){
    body{
        height: 140vh;
    }

    #main{
        border-radius: 2vh;
        width: 90%;
        height: 135vh;
        margin: 10% 4% 0 5%;
    }

    h1{
        padding: 100% 0 6% 12%;
        font-size: 1.5rem;
        width: 88%;
        text-align: center;
    }

    .p-0{
        width: 100%;
        text-align: center;
        font-size: 0.89rem;
    }

    .sub-main1 p{
        margin: 20% 0 0 90%;
    }

    .sub-main1 .p2{
        margin: 20% 0 0 94%;
    }

    .sub-main2 .p1{
        position: relative;
        top: -22vh;
        left: 29vw;
    }

    .sub-main2 .p2{
        position: relative;
        top: -15vh;
        left: 31vw;
    }

    .sub-main2 .p3{
        position: relative;
        top: -8vh;
        left: 31vw;
    }

    .image{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        width: 100%;
        height: 40%;
    }

    .overlay{
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        border-bottom-right-radius: 0;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    .image{
        width: 100%;
        height: 70%;
    }
} */